@model IEnumerable<TCC.Application.ViewModels.ItemLojaViewModel>

@{
	ViewData["Title"] = "LogPlay - Loja";
}

<h1>Seja bem-vindo à Loja</h1>

<style>
	body {
		background: #eee;
	}

	.filter {
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.profiles img {
		margin-right: -6px;
	}

	.col-md-4 {
		margin-top: 26px;
	}
</style>

<script>


</script>

<form class="form-horizontal" id="form01" name="form01">
	<div class="form-group">
		<div class="input-group input-group-sm mb-3">
			<span class="input-group-text" id="inputGroup-sizing-sm">Moedas</span>
			<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
		</div>

		<div class="form-group">
			<div class="col-lg-4" style="padding-right: 10px">
				<span class="input-group-text" id="qtd" name="qtd">Informe a quantidade desejada:</span>
				<div class="form-group">
					<div class="input-group mb-3">
						<span class="input-group-text">$</span>						
						<input type="number" id="qtd" class="form-control" aria-label="">
					</div>
				</div>
			</div>
		</div>
	</div>

</form>




@* <div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagemUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagemUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> *@

