@model IEnumerable<TCC.Application.ViewModels.ItemLojaViewModel>

@{
    ViewData["Title"] = "LogPlay - Loja";
}

<style>
    body {
        background-color: white;
    }
</style>

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagemUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagemUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>