@using TCC.Domain.Enums;
@model TCC.Application.ViewModels.CursoViewModel

@{
    ViewData["Title"] = "LogPlay - Cursos";
}

<body>
    <div class="curso-main-container">
        <div class="banner-curso">
            <h1 class="titulo-curso">@Html.DisplayFor(m => m.Nome)</h1>
            <p class="descricao-curso">@Html.DisplayFor(m => m.Descricao)</p>
            <div class="botao-iniciar">
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Login/Registrar">
                    Iniciar curso
                </a>
            </div>
        </div>
        <div class="curso-container">
            <div class="curso-aulas">
                <h2>@Html.DisplayFor(m => m.Nome)</h2>
                <div class="">
                    <ul>
                        @foreach (var aula in Model.Aulas)
                        {
                            <a asp-controller="Aulas" asp-action="Detalhes" asp-route-name="@aula.Nome">
                            <li>@Html.DisplayFor(a => aula.Nome)</li>
                            </a>
                        }
                    </ul>
                </div>
            </div>
            <div class="curso-sidebar">
                <div class="sidebar-title">
                    Informações Gerais
                </div>
                <div>
                    <span>Duração:</span> 
                    <div>@Html.DisplayFor(m => m.Duracao)</div>
                </div>
                <div>
                    <span>Aulas:</span>
                    <div>@Model.Aulas.Count</div>
                </div>
                <div>
                    <span>Exercícios:</span>   
                    <div>@Model.Aulas.SelectMany(a => a.Exercicios).Count()</div>
                </div>
                <div>
                    <span>Nível:</span>
                    <div>@Html.DisplayFor(m => m.NivelCurso)</div>
                </div>
            </div>
        </div>
        <div class="matricular-section">
            <div class="botao-iniciar">
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Login/Registrar">
                    Iniciar curso
                </a>
            </div>
        </div>
    </div>
</body>



@section Styles{
    <link rel="stylesheet" href="~/css/Cursos/detalhes.css" asp-append-version="true" />
}