@model IEnumerable<TCC.Application.ViewModels.CursoViewModel>

@{
    ViewData["Title"] = "LogPlay - Cursos";
}

<style>
    body {
        background-color: white;
    }
</style>

<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelCurso)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelCurso)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>