@model IEnumerable<TCC.Application.ViewModels.CursoViewModel>

@{
    ViewData["Title"] = "LogPlay - Cursos";
}

<style>
    .modal-lg {
        max-width: 80%;
    }
</style>

<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="" class="btn btn-primary">
                    <span title="Register New" class="fas fa-plus"></span> Register New
                </a>
            </div>
        </div>
    </div>
</div>
<br />

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelCurso)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelCurso)
                </td>
                @* <td> *@
                @*     <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-warning"> *@
                @*         <span class="fas fa-edit"></span> *@
                @*     </a> *@
                @*          *@
                @*     <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-primary"> *@
                @*         <span class="fas fa-search"></span> *@
                @*     </a> *@
                @*          *@
                @*     <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-danger"> *@
                @*         <span class="fas fa-trash-alt"></span> *@
                @*     </a> *@
                @*      *@
                @*     <button type="button" class="btn btn-info viewbutton" title="History" data-id="@item.Id" data-toggle="modal" data-target="#customerHistory"> *@
                @*         <span class="fas fa-clock"></span> *@
                @*     </button> *@
                @* </td> *@
            </tr>
        }
        </tbody>
    </table>
</div>