@model IEnumerable<TCC.Application.ViewModels.CursoViewModel>

@{
    ViewData["Title"] = "LogPlay - Cursos";
}

<style>
    body {
        background: black;
    }

    h2{
        color: white;
    }

    .filter {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .profiles img {
        margin-right: -6px;
    }

    .col-md-4 {
        margin-top: 26px;
    }

    .bg-azul{
        background: #092d5d;
    }
</style>

<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

@* <div class="panel panel-default">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelCurso)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelCurso)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div> *@

<div class="container mt-5 mb-5">
    <div class="row mt-1">
    @foreach (var curso in Model)
    {
        <div class="col-md-4">
            <div class="p-card bg-dark p-2 rounded px-3">
                <div class="d-flex align-items-center credits"><img src="https://i.imgur.com/hlz6G90.png" width="16px"><span class="text-white ml-2">2 credits</span></div>
                    <h5 class="mt-2 text-white">@Html.DisplayFor(t => curso.Nome)</h5><span class="badge badge-primary py-1 mb-2">integrations</span><span class="d-block mb-5 text-white">Some kind of short descriptions can go here to better recommend tasks.</span>
            </div>
        </div>
    }
    </div>
</div>
